@font-face {
  font-family: "Source Sans Pro";
  src: url(../source-sans-pro/SourceSansPro-Bold.otf) url(../source-sans-pro/SourceSansPro-Semibold.otf) url(../source-sans-pro/SourceSansPro-Light.otf) url(../source-sans-pro/SourceSansPro-ExtraLight.otf) url(../source-sans-pro/SourceSansPro-ExtraLightIt.otf) url(../source-sans-pro/SourceSansPro-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/Object.png);
  /* background-repeat: no-repeat; */
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


nav {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 235px;

}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.title {
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.hero-section>div>span {
  text-transform: uppercase;
  margin-right: 60px;
}

.btn {
  text-transform: uppercase;
  background-color: #c271ff;
  color: #ffffff;
  font-weight: 600;
  line-height: 17.5px;
  padding: 13px 20px;
  border-radius: 20px;
  border: none;
  margin-top: 50px;
}

.hero-section>h2>span {
  color: #c271ff;
  margin: 0;
  text-transform: capitalize;
}

.hero-section>h2 {
  font-weight: 100;
  margin-top: 150px;
}

.pros {
  /* width: 220px; */
  display: flex;
  margin-top: 50px;
}

.pro-1,
.pro-2,
.pro-3,
.pro-4 {
  display: flex;
  flex-direction: column;
}

.pro-1,
.pro-2,
.pro-3 {
  margin-right: 140px;
}

.pros>div>img {
  width: 150px;
  height: 150px;
}

.pros>div>h3 {
  width: 150px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.pros>div>p {
  width: 150px;
  font-style: italic;
  font-weight: 400;
}

.testimonial-section {
  /* max-width: 943px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto;
  background: #c271ff;
  padding: 108px 260px 124px;
}

.testimonial-section>div>blockquote,
h3,
p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  height: auto;
  line-height: 33px;

}

.testimonial-section>div>h3 {
  font-weight: 700;
}

.testimonial-section>div>p {
  font-weight: 400;
  font-style: italic;
  margin: 0;
}


.tutorial-section {
  display: flex;
  background-color: #ffffff;
  color: #071629;
  flex-direction: column;
  padding: 87px;
  align-items: center;
}

.tutors {
  width: 1020px;
  display: flex;
  gap: 30px;
  /* margin: 0 auto; */
}

.tutorial-section h2 {
  margin-bottom: 75px;
  font-size: 2rem;
  text-align: center;
}

.tutorial-section h2 span {
  color: #c271ff;
  font-weight: 700;
}

.tutors div h3 {
  font-size: 14px;
  font-weight: 700;
}

.tutors div p {
  font-size: 14px;
  line-height: 24px;
}

.tutors>div>img {
  width: 100%;
}

.rating {
  width: auto;
}

.membership-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #071629;
  padding: 70px;
}
.membership-section h2 {
  margin-bottom: 58px;
}
.memberships {
  width: 1020px;
  display: flex;
  gap: 30px;
}

.memberships div {
  text-align: center;
}
.memberships div h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.memberships div p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.memberships div img {
  margin-bottom: 26px;
}
.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #071629;
}
.faq-section h2 {
  margin: 60px 0 75px;
  font-size: 60px;
  font-weight: 300;
}

.faqs {
  display: grid;
  grid-template-columns: 350px 350px;
  gap: 220px;
  row-gap: 75px;
}
.faqs div p {
  height: 250px;
  font-size: 14px;
  line-height: 24px;
}
.faqs div h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  /* color: #0000 */
}
.footer-section{
  background-color: 071629;
  height: 40vh;
}
.f-logo{
  padding-left: 110px;
  padding-top: 120px;
}
.copy-right{
  text-align: center;
  padding-top: 50px;
  font-size: large;
  color: rgb(196, 193, 193);
}